@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.box{
    width: 288px;
    height: 333px;
    border: 1px solid white;
    border-radius: 16px;
    margin: 10px 30px 30px 40px;
    background-color: #3C3F48;
    opacity: 0.8;
    box-shadow: 3px 5px 8px rgba(236, 236, 236, 0.25);

}
.box:hover{
    opacity: 1;
    transition: 0.8s;
    cursor: pointer;
    scale: 1.05;
}

.mainbox{
    min-width: 288px;
    margin-bottom: 40px;

}


.author{
    font-family: poppins ;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 20px 0px 0px 20px;
    display: -webkit-box;
    
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;

}
.title{
    font-family: poppins ;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 10px 0px 0px 20px;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.image{
    width: 230px;
    height: 160px;
    margin: 10px 10px 10px 20px;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
}
.time{
    font-family: poppins ;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 10px 0px 0px 20px;
}



